html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #cccccc;
	margin: auto;
}

.container {
	max-width: 100% !important;
}

p{
	font-size: 20px;
}

.gifArea div {
	border: 2px solid #035;
	margin: auto !important;
	margin-bottom: 20px !important;
}

input[type="text"] {
	width: 400px;
}

.fixedHW{
	width: 250px;
	height: 250px;
}

.favArea{
	border-left: 2px dashed #17a2b866;
	padding: 10px 20px;
	background-color: #17a2b8aa;
	position: fixed;
	height: 100%;
	width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	right:0;
}

.favArea img {
	margin: 10px 0;
}

.col-lg-10 {
	max-width: 80%;
}

.col-lg-2, .col-sm-2 {
	max-width: 20%;
}

@media screen and (max-width: 640px){
	.favArea{
		border-top: 2px dashed #17a2b866;
		border-left: none;
		left: 0;
		bottom: 0;
		overflow-y: hidden;
		overflow-x: auto;
		height: 360px;
		width: 100%;
		display: inline-block;
		white-space: nowrap;
	}
	.favArea img{
		margin-right: 20px;
	}
	.gifArea {

	}
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 980px){
	
}