html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #cccccc;
	background-image: url("../images/memphis-colorful.png");
	margin: auto;
}

.container {
	max-width: 100% !important;
}

.gifArea div {
	margin: auto !important;
	margin-bottom: 40px !important;
	height: 350px;
	width: 300px;
	background-color: #ffffff66;
	font-size: 20px;
	white-space: normal;
}

.borderDiv {
	border: 2px solid #999999aa;
	transition: border 60s;
}

input[type="text"] {
	width: 400px;
}

.fixedHW {
	position: static;
	display: inline-block;
	margin: auto;
	width: 250px;
	height: 250px;
	margin: 10px 0;
}

.favArea {
	border-left: 2px dashed #f19b8e66;
	padding: 10px 20px;
	background-color: #f19b8eaa;
	position: fixed;
	height: 100%;
	width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0%;
	right: 0%;
}

.favArea img {
	margin: 10px 0;
	width: 250px;
	height: 250px;
}

.col-lg-10 {
	max-width: 80%;
}

.col-lg-2 {
	max-width: 20%;
}

.favBtn {
	position: relative;
	float: right;
}

.btn {
	background-color: #f19b8e;
	color: #000;
	font-weight: bold;
}

.btn-dark:hover {
	background-color: #737373;
}

.btn-info:hover {
	background-color: #1cc8e3;
}

.gif:hover {
	box-shadow: 5px 5px #66666666;
}

@media screen and (max-width: 1355px){
	.container {
		height: auto;
		margin-bottom: 200px;
		overflow: hidden; 
	}
	.favArea{
		border-top: 2px dashed #17a2b866;
		border-left: none;
		left: 0% !important;
		bottom: 0% !important;
		top: initial;
		position: fixed;
		overflow-y: hidden;
		overflow-x: auto;
		height: 220px !important;
		width: 100%;
		display: inline-block;
		white-space: nowrap;
		padding: 5px 10px;
	}

	h4 {
		font-size: 20px;
		margin: -5px 5px;
		font-weight: bolder;
	}
	.favArea img{
		margin: 0 5px;
	}

	.fixedHW, .favArea img{
		width: 150px;
		height: 150px;
	}
	.gifArea {
		position: static;
		margin-bottom: 100px;
	}

	.gifArea div {
		height: 250px;
	}
	.col-sm-2 {
		max-width: 25%;
	}
}