html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #cccccc;
	margin: auto;
}

.container {
	max-width: 100% !important;
}

p{
	font-size: 20px;
}

.gifArea div {
	border: 2px solid #035;
	margin: auto !important;
	margin-bottom: 20px !important;
}

input[type="text"] {
	width: 400px;
}

.fixedHW{
	width: 250px;
	height: 250px;
}

.favArea{
	border-left: 2px solid #66666666;
	padding: 10px 20px;
	background-color: #ffffff55;
	position: fixed;
}

.col-lg-10 {
	max-width: 80%;
}

.col-lg-2, .col-sm-2 {
	max-width: 20%;
}

@media screen and (max-width: 640px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 980px){
	
}